#root {
  min-width: 80%;
  margin: 0 auto;
  padding: 2rem;
}

.textField {
  display: flex;
  flex-direction: column;
}

.textField label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.textField input {
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
}
